* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1{
        color: rgb(76, 185, 228);
    }

    h2{
        font-weight: 400;
    }
}